* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
body {
  width: 100%;
  background-color: #eaeded;
  box-sizing: border-box;
  font-family: 'Amazon Ember', Arial, sans-serif;
  color: rgb(15, 17, 17);
}
header {
  width: 100%;
  background-color: #232f3e;
  height: 99px;
  display: flex;
  flex-flow: column nowrap;
  color: #fff;
  line-height: 29px;
  font-size: 14px;
}
.header__main {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #131921;
}
.header__main a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3px;
  border: 1px solid #131921;

  height: 50px;
  margin: 1px;
  flex: 0.9;
}
.header__main a:hover {
  border: 1px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}

.header__main a.logo {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header__main a.logo div {
  width: 100px;
  height: 29px;
  margin: 1px;
  background: url(/assets/img/nav-sprite-global.png) no-repeat -10px -51px;
}
.header__main a.deliverto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 0.8;
}
.header__main a.deliverto span.location-icon {
  width: 15px;
  height: 17px;
  margin: 1px;
  /* align-self: flex-end; */
  background: url('/assets/img/nav-sprite-global.png') no-repeat -71px -379px;
}
.header__main a.deliverto span.p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  /* align-self: flex-end; */
}
.header__main a.deliverto span.p span {
  display: block;
  line-height: 1;
  text-align: left;
}
.header__main a.deliverto span.p span:first-child {
  color: #ccc;
}
.header__main a.search--flex5 {
  flex: 5;
}
.header__main a.search {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
}
.header__main a.search .categories-select {
  position: relative;
  left: -3px;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);
  height: 38px;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: #ccc 1px solid;
  transition: all 0.5 ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: 0 solid;
  flex: 1;
}
.header__main a.search .categories-select i.fa-caret-down {
  color: rgba(0, 0, 0, 0.8);
}
.header__main a.search .categories-select:hover {
  background-color: rgb(204, 204, 204);
  color: rgb(0, 0, 0);
}
.header__main a.search .categories-select:active {
  outline-style: solid;
  outline-width: 4px;
  outline-color: #febd69;
  background-color: transparent;
  border: 0 solid;
}
.header__main a.search .categories-select span {
  margin-right: 5px;
}
.header__main a.search .categories-select option {
  background-color: #fff !important;
}
.header__main a.search input.srch {
  flex: 9;
  background-color: transparent;
  border: 0px solid;
  height: 40px;
  /* line-height: 100%; */
  font-size: 15px;
}
.header__main a.search input.srch:focus {
  outline: none;
}

.header__main a.search:focus-within {
  outline-style: solid;
  outline-width: 3px;
  outline-color: #febd69;
}
.header__main a.search span.magnifying-glass {
  flex: 1;
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #febd69;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: -4px;
}
.header__main a.search span.btn {
  flex: 1;
}
.header__navigation {
  height: 39px;
  width: 100%;
  background-color: 232f3e;
}
.header__navigation a {
  color: #fff;
}
.header__navigation ul {
  display: flex;
}
.header__main .lang-select-input {
  position: relative;
  flex: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding: 5px;
}
.header__main .lang-select-input span.usaFlag {
  background: url(/assets/img/usflag.png) no-repeat 0 0;
  width: 24px;
  height: 14px;
  margin-right: 3px;
}
.header__main .lang-select-input .fa-caret-down {
  color: #ccc;
  align-self: flex-end;
  margin-bottom: -3px;
}
.header__main .lang-select-input span.langSelector {
  display: none;
  transition: all 0.7s ease-in-out;
}
.header__main .lang-select-input:hover span.langSelector {
  position: absolute;
  left: 0px;
  bottom: -500px;
  width: 250px;
  height: 500px;
  background-color: #fff;
  color: #131921;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
}
/* .header__main .lang-select-input div.langSelector span span.learnmore {
  color: blue;
}
.header__main .lang-select-input div.langSelector span span.learnmore::hover {
  cursor: pointer;
  text-decoration: underline;
} */

.header__main .signin {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  text-align: start;
  align-items: flex-start;
  line-height: 1;
  height: 100%;
}
.header__main .signin span:first-child {
  transform: translateY(20px);
}
.header__main .signin span:last-child {
  transform: translateY(20px);
}

.header__main .returns {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  text-align: start;
  align-items: flex-start;
  line-height: 1;
  height: 100%;
  position: relative;
}
.header__main .returns span:first-child {
  transform: translateY(9px);
}
.header__main .returns span:last-child {
  transform: translateY(9px);
}
.header__main a.cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
}
.header__main a.cart div.cart-sprite {
  background: url('/assets/img/nav-sprite-global.png') no-repeat -216px -334px;
  width: 46px;
  height: 35px;
  position: relative;
}
.header__main a.cart div.cart-sprite span {
  position: absolute;
  left: 50%;
  top: -5px;
}
nav.header__navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  height: 100%;
}

nav.header__navigation div {
  flex: 1;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
nav.header__navigation div a {
  width: auto;
  border: 1px solid transparent;
  padding: 5px 5px;
  line-height: 12px;
}
nav.header__navigation div a:hover {
  border: 1px solid #fff;
}
nav.header__navigation div a:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
}
nav.header__navigation div a:first-child span:first-child {
  background: url('/assets/img/nav-sprite-global.png') no-repeat -170px -251px;
  width: 22px;
  height: 21px;
}
